body {
    background-color: #202124;
}

.Voltar {
    position: absolute;
    right: 20px;
    top: 5px;
}
.searchBar {
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 230px;
    display: block;
}
.btnS {
    color: #e8eaed;
    background-color: #303134;
    border: 3px solid #303134;
    border-radius: 3px;
    margin: 5px;
    position: relative;
    margin-left: 430px;
    margin-right: auto;
    display: block;
}
#btnF {
    color: #e8eaed;
    background-color: #303134;
    border: 3px solid #303134;
    border-radius: 3px;
    margin: 5px;
    position: relative;
    top: -28px;
    margin-left: auto;
    margin-right: 430px;
    display: block;
}

.ads {
    margin: 5px;
    width: 200px;
    text-align: left;
}
#btnAS {
    color: white;
    background-color: cornflowerblue;
    border: 3px solid cornflowerblue;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}